{
	"useTabs": true,
	"singleQuote": false,
	"tabWidth": 4,
	"printWidth": 100,
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
	"tailwindFunctions": ["clsx"]
}
